@use 'variables' as *;

.score-board {
  display: flex;
  justify-content: space-around;
  padding: $gap-md;
  background: $game-score-bg;
  border-radius: $radius-md;
  margin-bottom: $gap-lg;
  font-weight: bold;
  column-gap: $gap-lg;
  
  @media (max-width: 600px) {
    padding: $gap-sm;
    margin-bottom: $gap-md;
    column-gap: $gap-md;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $gap-xs;

    &--player .score-board__value {
      color: $game-color-success;
    }
    
    &--computer .score-board__value {
      color: $game-color-fail;
    }
  }

  &__value {
    font-size: 24px;
    
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}
