@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'variables' as *;

.game-controls {
  margin-bottom: $gap-xl;

   @media (max-width: 600px) {
    margin-bottom: $gap-md;
   }

  &__form {
    display: flex;
    align-items: center;
    gap: $gap-md;

    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      gap: $gap-sm;
    }
  }

  &__button {
    height: 56px;
    padding: 0 $gap-xl;
    font-size: 16px;
    width: 180px;

    @media (max-width: 600px) {
      width: 100%;
      max-width: 300px;
    }
  }

  &__button--danger {
    @include mat.button-color(theme.$app-theme, $color-variant: error);
  }

  &__field {
    width: 200px;
    margin-bottom: -20px;

    @media (max-width: 600px) {
      margin-bottom: 0;
      width: 100%;
      max-width: 300px;
    }
  }
}
